{% extends 'engine/base_panel.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<h4>Add a contestant</h4>
<hr>

<section>
<div class="">

    {% if messages %}
        {% for message in messages %}
        <h4 class='text-zuvote'>{{ message }}</h4>
        {% endfor %}
    {% endif %}

    <form method='POST' action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <input type="submit" value='Add contestant' class='btn btn-lg zuvote-orange text-white'>
    </form>
    <br>
    <br>
	
</div>
</section>


{% endblock %}