{% extends 'engine/base_panel.html' %}
{% block content %}
{% load static %}
<section>
<div class="text-center">
	<h4 class="text-zuvote">Simple steps to follow.</h3>
	<p class='lead'><b>1. </b>Go to the menu bar, create a competition</p>
	<p class='lead'><b>2. </b>Set the competition to currently managing</p>
	<p class='lead'><b>3. </b>Register Contestants</p>
	<p class='lead'><b>4. </b>Set competition to active</p>
	<p class='lead'><b>5. </b>Share voting link</p>
</div>
</section>


{% endblock %}